<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <div class="container mt-5" id="app">
        <h3>{{title}}</h3> 
        <input type="text" v-model="newTask" class="form-control my-3" v-on:keyup.enter="addTask">
        <button class="btn btn-primary" @click="addTask">Agregar</button>
        <ul class="list-group my-3">
            <li :class="{'list-group-item-success':item.state,'list-group-item-danger':!item.state}" class="  list-group-item d-flex justify-content-between align-items-center" v-for="(item,index) in task">
                {{index}} - {{item.training}} - {{item.state}}
                <div>
                <button class="btn btn-success" @click="editTask(index)">OK</button>
                <button class="btn btn-danger" @click="deleteTask(index)" >X</button>
                </div>
            </li>

        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="crud1.js"></script>
</body>
</html>